[Desktop Entry]
Name=SmartAI
Exec=/usr/local/bin/smart-ai
Icon=/home/WannaBeTheGuy/WwW/MyOwn/python_ai_sidebar/icon.svg
Type=Application
Categories=Development;
